.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 25rem;
    height: 150px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__button{
    background: #f0c14b;
    border: 2px solid;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 4px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}